In [4]:
import bt
import pandas
import matplotlib.pyplot as plt
import talib

### Build an SMA-based signal strategy
It's time to build and backtest your first signal-based strategy. Although simple, these types of strategies can be effective, and also lay the groundwork for more complex strategies consisting of additional signals and information.

Implementing a price-comparison-based signal with bt is a straightforward process. You will first download some historical price data of the stock, calculate its SMA (simple moving average), implement an SMA-based signal strategy, and then backtest it with the stock price data.

In [12]:
stock_symbol = 'aapl'
start_date = '2019-11-1'
end_date = '2020-12-1'

In [13]:
price_data = bt.get(stock_symbol, start=start_date, end=end_date)
# SMA Rolling Averages
price_data.rename(column)
price_data['sma_10'] = price_data.rolling(10).mean()
price_data

                  aapl      sma_10
Date
2019-11-01   62.658276         NaN
2019-11-04   63.069756         NaN
2019-11-05   62.979134         NaN
2019-11-06   63.006077         NaN
2019-11-07   63.733238         NaN
...                ...         ...
2020-11-24  114.150986  117.023342
2020-11-25  115.003372  116.680404
2020-11-27  115.558418  116.420721
2020-11-30  117.996658  116.399907
2020-12-01  121.634178  116.639765

[273 rows x 2 columns]

In [10]:
bt_strategy = bt.Strategy('AboveSMA',
                         [
                             bt.algos.SelectWhere()
                         ])

(                  aapl
 Date
 2019-11-01   62.658268
 2019-11-04   63.069759
 2019-11-05   62.979130
 2019-11-06   63.006065
 2019-11-07   63.733231
 ...                ...
 2020-11-24  114.150986
 2020-11-25  115.003380
 2020-11-27  115.558418
 2020-11-30  117.996658
 2020-12-01  121.634186

 [273 rows x 1 columns],
                   aapl
 Date
 2019-11-01         NaN
 2019-11-04         NaN
 2019-11-05         NaN
 2019-11-06         NaN
 2019-11-07         NaN
 ...                ...
 2020-11-24  117.023345
 2020-11-25  116.680408
 2020-11-27  116.420726
 2020-11-30  116.399911
 2020-12-01  116.639770

 [273 rows x 1 columns])