## API 
### eg alpha vantage

In [1]:
from alpha_vantage.timeseries import TimeSeries

In [2]:
API_key="H456ZLCOCHH7CH10"

In [3]:
ts=TimeSeries(key=API_key,output_format='pandas')

In [4]:
data=ts.get_daily('AAPL')

In [5]:
data

(            1. open  2. high  3. low  4. close    5. volume
 date
 2022-01-12   176.12   177.18  174.82    175.53   74805173.0
 2022-01-11   172.32   175.18  170.82    175.08   75937685.0
 2022-01-10   169.08   172.50  168.17    172.19  106765552.0
 2022-01-07   172.89   174.14  171.03    172.17   86709147.0
 2022-01-06   172.70   175.30  171.64    172.00   96903955.0
 ...             ...      ...     ...       ...          ...
 2021-08-27   147.48   148.75  146.83    148.60   55802388.0
 2021-08-26   148.35   149.12  147.51    147.54   48597195.0
 2021-08-25   149.81   150.32  147.80    148.36   58991297.0
 2021-08-24   149.45   150.86  149.15    149.62   48606428.0
 2021-08-23   148.31   150.19  147.89    149.71   60131810.0

 [100 rows x 5 columns],
 {'1. Information': 'Daily Prices (open, high, low, close) and Volumes',
  '2. Symbol': 'AAPL',
  '3. Last Refreshed': '2022-01-12',
  '4. Output Size': 'Compact',
  '5. Time Zone': 'US/Eastern'})

In [6]:
data[0]

            1. open  2. high  3. low  4. close    5. volume
date
2022-01-12   176.12   177.18  174.82    175.53   74805173.0
2022-01-11   172.32   175.18  170.82    175.08   75937685.0
2022-01-10   169.08   172.50  168.17    172.19  106765552.0
2022-01-07   172.89   174.14  171.03    172.17   86709147.0
2022-01-06   172.70   175.30  171.64    172.00   96903955.0
...             ...      ...     ...       ...          ...
2021-08-27   147.48   148.75  146.83    148.60   55802388.0
2021-08-26   148.35   149.12  147.51    147.54   48597195.0
2021-08-25   149.81   150.32  147.80    148.36   58991297.0
2021-08-24   149.45   150.86  149.15    149.62   48606428.0
2021-08-23   148.31   150.19  147.89    149.71   60131810.0

[100 rows x 5 columns]

In [7]:
data2=data[0]

In [9]:
data2.columns

Index(['1. open', '2. high', '3. low', '4. close', '5. volume'], dtype='object')

In [11]:
data2["4. close"].to_frame()

            4. close
date
2022-01-12    175.53
2022-01-11    175.08
2022-01-10    172.19
2022-01-07    172.17
2022-01-06    172.00
...              ...
2021-08-27    148.60
2021-08-26    147.54
2021-08-25    148.36
2021-08-24    149.62
2021-08-23    149.71

[100 rows x 1 columns]