In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
bitcoin_data = pd.read_csv("Bitcoin.csv", index_col="Date", parse_dates=True)
bitcoin_data.head()

              Open    High     Low   Close     Volume
Date
2016-12-17  785.17  792.51  784.86  790.83   78989800
2016-12-18  791.01  794.74  788.03  790.53   60524400
2016-12-19  790.69  793.61  790.32  792.71   74886400
2016-12-20  792.25  801.34  791.50  800.88   99629296
2016-12-21  800.64  834.28  799.41  834.28  155576000

### Weekly Resample Data

W : weekly frequency
M : month end frequency
SM : semi-month end frequency (15th and end of month)
Q : quarter end frequency

In [6]:
btc_weekly = bitcoin_data.resample("W").mean()
btc_weekly.head()

                   Open         High         Low       Close        Volume
Date
2016-12-18   788.090000   793.625000  786.445000  790.680000  6.975710e+07
2016-12-25   843.497143   864.751429  832.688571  858.484286  1.552964e+08
2017-01-01   944.577143   963.985714  933.037143  959.077143  1.659162e+08
2017-01-08  1006.750000  1046.301429  938.267143  993.670000  2.932341e+08
2017-01-15   849.427143   865.951429  814.961429  836.755714  1.605693e+08